* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 1.125rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}
