$sun: #FDA214;
$texas-rose: #FFB84A;
$concrete: #F2F2F2;
$jungle-mist: #BCCED9;
$gothic: #7191A5;
$pickled-bluewood: #304859;
$hippie-blue: #6395B8;
$big-stone: #152938;
$alabaster: #FCFCFC;
$mystic: #DFE7EC;

// BUTTON
$button-border-width: 0;
$button-lg-min-height: 4.375rem;
$button-lg-min-width: 33.8125rem;
$button-lg-radius: 2.1875rem;
$button-md-min-height: 3.25rem;
$button-md-min-width: 16rem;
$button-md-radius: 1.625rem;
$button-sm-min-height: 3.25rem;
$button-sm-min-width: 7.9375rem;
$button-sm-radius: 1.625rem;
$button-hover-timing: ease-in 0.25s;
