@import "./../../../assets/styles/abstract/variables";
@import "./../../../assets/styles/abstract/mixins";

@mixin size($minHeight, $minWidth, $borderRadius, $fontSize) {
    min-height: $minHeight;
    min-width: $minWidth;
    border-radius: $borderRadius;
    font-size: $fontSize;
}

.btn {
    border: $button-border-width;
    cursor: pointer;
    color: $alabaster;
    &-primary {
        background-color: $sun;
        &:hover {
            transition: background-color $button-hover-timing;
            background-color: $texas-rose;
        }
    }
    &-secondary {
        background-color: $jungle-mist;
        &:hover {
            transition: background-color $button-hover-timing;
            background-color: $hippie-blue;
        }
    }
    &-inverse {
        background-color: $mystic;
        color: $pickled-bluewood;
        &:hover {
            transition: background-color $button-hover-timing;
            background-color: $jungle-mist;
        }
    }
    &-active {
        background-color: $pickled-bluewood;
    }

    &-lg {
        @include size($button-lg-min-height, $button-lg-min-width, $button-lg-radius, $button-lg-font-size);
    }
    &-md {
        @include size($button-md-min-height, $button-md-min-width, $button-md-radius, $button-md-font-size);
    }
    &-sm {
        @include size($button-sm-min-height, $button-sm-min-width, $button-sm-radius, $button-sm-font-size);
    }
}
