@import "./../../../assets/styles/abstract/variables";
@import "./../../../assets/styles/abstract/mixins";

@mixin size($minHeight, $minWidth, $borderRadius, $titleFontSize, $valueFontSize, $valueMargin, $titleMargin) {
    min-height: $minHeight;
    min-width: $minWidth;
    border-radius: $borderRadius;

    &-title {
        margin: $titleMargin;
        font-size: $titleFontSize;
    }

    &-value {
        margin: $valueMargin;
        font-size: $valueFontSize;
    }
}

@mixin color($backgroundColor, $titleColor, $valueColor) {
    background-color: $backgroundColor;

    &-title {
        color: $titleColor;
    }

    &-value {
        color: $valueColor;
    }
}

.lbl {
    display: $label-display;
    flex-direction: $label-flex-direction;
    justify-content: $label-justify-content;
    align-items: $label-align-items;
    border: $label-border-width;

    &-primary {
        @include color($mystic, $gothic, $pickled-bluewood);
    }
    &-secondary {
        @include color($big-stone, $alabaster, $alabaster);
    }
    &-indicator {
        @include color($sun, $alabaster, $alabaster);
    }

    &-lg {
        @include size(
            $label-lg-min-height,
            $label-lg-min-width,
            $label-lg-radius,
            $label-lg-title-font-size,
            $label-lg-value-font-size,
            $label-lg-value-margin,
            $label-lg-title-margin
        );
    }
    &-md {
        @include size(
            $label-md-min-height,
            $label-md-min-width,
            $label-md-radius,
            $label-md-title-font-size,
            $label-md-value-font-size,
            $label-md-value-margin,
            $label-md-title-margin
        );
    }
    &-sm {
        @include size(
            $label-sm-min-height,
            $label-sm-min-width,
            $label-sm-radius,
            $label-sm-title-font-size,
            $label-sm-value-font-size,
            $label-sm-value-margin,
            $label-sm-title-margin
        );
    }

    &-xs {
        flex-direction: column;
        @include size(
            $label-xs-min-height,
            $label-xs-min-width,
            $label-xs-radius,
            $label-xs-title-font-size,
            $label-xs-value-font-size,
            $label-xs-value-margin,
            $label-xs-title-margin
        );
    }

    &-xxs {
        flex-direction: column;
        @include size(
            $label-xxs-min-height,
            $label-xxs-min-width,
            $label-xxs-radius,
            $label-xxs-title-font-size,
            $label-xxs-value-font-size,
            $label-xxs-value-margin,
            $label-xxs-title-margin
        );
    }
}
