@import "./../../../assets/styles/abstract/variables";

@mixin buttonPosition($marginRight) {
    @for $i from 1 through 4 {
        Button:first-child:nth-last-child(#{$i}):not(:last-child),
        Button:first-child:nth-last-child(#{$i}) ~ Button:not(:last-child) {
            margin-right: $marginRight / $i;
        }
    }
}
.btn-group {
    @include buttonPosition($button-group-margin-right);
}

.btn-group-mb {
    @include buttonPosition($button-group-margin-right-mb);
}
