@import "./../../assets//styles/abstract/variables";
@import "./../../assets//styles/abstract/mixins";

.wrapper {
    background-color: $big-stone;
    position: absolute;
    inset: 0;
    @include center(column);
}

.menu {
    @include center(column);
    &-title {
        color: $gothic;
        margin-bottom: $button-group-title-margin;
        font-size: $button-group-title-font-size;
    }
    &-item:not(:first-child) {
        margin-top: $button-group-item-margin;
    }
    &-start-button {
        margin-top: $button-group-button-margin;
    }
}

.menu-mb {
    --button-group-title-margin: 0.5rem;
    --button-group-item-margin: 1rem;
    --button-group-button-margin: 1rem;
    --button-group-title-font-size: 0.75rem;
}
